import * as C from './styles';

interface IProps {

}

const {{pascalCase name}} = ({}: IProps) => {
  return (
    <C.Container>
      <h1>{{pascalCase name}}</h1>
    </C.Container>
  );
}

export default {{pascalCase name}};